@import '~sass/variables';

/* AppComponent's private CSS styles */

h1 {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0;
  }
  
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    &:visited {
      color: #607D8B;
    }
  }
  
  a:link {
    color: #607D8B;
  }
  
  nav a {
    &:hover {
      color: #039be5;
      background-color: #CFD8DC;
    }
    &.active {
      color: #039be5;
    }
  }

  // collapsible sidebar
  // .wrapper {
  //   display: flex;
  //   align-items: stretch;
  // }  
  // #sidebar {
  //   min-width: 250px;
  //   max-width: 250px;
  //   min-height: 100vh;    
  // }
  // #sidebar.active {
  //     margin-left: -250px;
  // }
  // a[data-toggle="collapse"] {
  //   position: relative;
  // }
  // a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  //     content: '\e259';
  //     display: block;
  //     position: absolute;
  //     right: 20px;
  //     font-family: 'Glyphicons Halflings';
  //     font-size: 0.6em;
  // }
  // a[aria-expanded="true"]::before {
  //     content: '\e260';
  // }
  // @media (max-width: 768px) {
  //   #sidebar {
  //       margin-left: -250px;
  //   }
  //   #sidebar.active {
  //       margin-left: 0;
  //   }
  // }


  
  ///////////////////////////
  // Added for main page flex
  // .wrapper {
  //   display: flex;  
  //   flex-flow: row wrap;
  //   font-weight: bold;
  //   text-align: center;
  // }
  
  // .wrapper > * {
  //   padding: 10px;
  //   flex: 1 100%;
  // }
  
  // .header {
  //   background: tomato;
  // }
  
  // .footer {
  //   background: lightgreen;
  // }
  
  // .main {
  //   text-align: left;
  //   background: deepskyblue;
  // }
  
  // .aside-1 {
  //   background: gold;
  // }
  
  // .aside-2 {
  //   background: hotpink;
  // }
  
  // @media all and (min-width: 600px) {
  //   .aside { flex: 1 auto; }
  // }
  
  // @media all and (min-width: 800px) {
  //   .main    { flex: 3 0px; }
  //   .main    { order: 1; }
  //   .aside-1 { order: 2; 
  //              flex-direction: column;
  //              max-width: 10%          
  //   } 
  //   .footer  { order: 3; }
  // }
  
  // body {
  //   padding: 2em; 
  // }  