<!--component html goes here -->
<div class='sidebarNav d-flex flex-column '>

    <div *ngFor="let link of navlinks">    
        <!-- <a routerLink="/detail/{{hero.id}}"> -->
        <span class="badge p-2 customColorSidebar d-flex justify-content-center align-items-center">{{link.name}}</span>
        <!-- </a> -->      
        </div>
        
    <!-- <sidebar-button class="p-2">{{name}}</sidebar-button>
    <sidebar-button class="p-2">Flex item 2</sidebar-button>
    <sidebar-button class="p-2">Flex item 3</sidebar-button> -->
</div>

<!-- <div class="d-flex flex-column sidebarNav">
    <div class="p-2">Flex item 1</div>
    <div class="p-2">Flex item 2</div>
    <div class="p-2">Flex item 3</div>
</div> -->