// private CSS styles 

// theme color, can be overridden
.customColorSidebar{
    background-color: darkgray;
}

.sidebarNav {
    position: absolute;
    right: 0px;
    // width: 15em;
    border: .1em solid lightslategray;
    border-radius: .5em;
    padding: 10px;
    margin-right: 2em;

    // ul {
    //     padding: 3em;
    // }
}

.badge {
    display: inline-block;
    width: 12em;
    height: 6em;
    font-size: small;
    color: white;
    line-height: 1em;
    margin: .5em;
    border-radius: .25em;
  }

  // avoid bullet points
  ul{ list-style-type: none; } 